<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Fleet Management Service</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fas fa-layer-group" style="margin-right: 8px;"></i> Fleets
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vessels">
                <i class="fas fa-ship" style="margin-right: 8px;"></i> Vessels
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="containers">
                <i class="fas fa-box-open" style="margin-right: 8px;"></i> Containers
            </NavLink>
        </div>
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
